html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
}
body {
    background: #444444 -moz-linear-gradient(top, #555555 0%, #111111 100%);
    padding: 0;
    margin: 0;
}

#logo, #loginbox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#logo {
    padding: 20px 0 20px 5px;
}
#logo img {
    width: 215px;
    margin: 0 auto;
    display: block;
}
#loginbox {
    height: 183px;    
    -moz-perspective: 800px;
	-webkit-perspective: 800px;
    perspective: 800px;
}

#loginbox form{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;

	background: #ffffff;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden;
    text-align: center;

	/* Enabling 3d space for the transforms */
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	/* When the forms are flipped, they will be hidden */
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	/* Enabling a smooth animated transition */
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}
#loginbox p {
    margin-top: 20px;
    padding: 0 20px;
}

#loginbox .form-actions {
	padding: 14px 20px 15px;
}
#loginbox .form-actions .pull-left {
	margin-top: 2px;
}

#recoverform {
	/* Rotating the recover password form by default */
	-moz-transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
#loginbox.flipped #loginform {

	opacity:0;

	/**
	 * Rotating the login form when the
	 * flipped class is added to the container
	 */

	-moz-transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}

#loginbox.flipped #recoverform {

	opacity:1;

	/* Rotating the recover div into view */
	-moz-transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}

#recoverform .control-group {
	margin: 22px 0;
}
.form-vertical, .form-actions {
    margin-bottom: 0;
}

@media (max-width: 480px){
    #logo, #loginbox {
        width: 80%;
        
    }    
}
