<div class="news_photopreview">
	<img src="../../images/preview/preview1a.png" />
</div><!--photopreview-->

<div class="news_photodetails">
	<div class="updatethumb"><img src="images/thumbs/avatar2.png" alt="" /></div>
	<div class="updatecontent">
		<div class="top">
			<a href="" class="user">Vector</a> - <a href="">1 Comment</a> - <a href="">Share</a> - <a href="">Report</a> - <span>1 hour ago</span>
		</div><!--top-->
		<div class="text">Some stuff... </div><!--text-->
     </div><!--updatecontent-->
     
     <br clear="all" />
     
     <h4 class="commenttitle">2 Comments</h4>
     
     <ul class="commentlist">
     	<li>
        	<div class="comment_authorimg"><img src="../../images/thumbs/avatar5.png" alt="" /></div>
            <div class="commentcontent">
                <div class="top">
                    <a href="" class="user">Hiccup</a> - <a href="">Report</a> - <span>1 hour ago</span>
                </div><!--top-->
                <div class="text">Everything we know about you guys is wrong. </div><!--text-->
             </div><!--updatecontent-->
        </li>
     	<li>
        	<div class="comment_authorimg"><img src="../../images/thumbs/avatar5.png" alt="" /></div>
            <div class="commentcontent">
                <div class="top">
                    <a href="" class="user">Hiccup</a> - <a href="">Report</a> - <span>1 hour ago</span>
                </div><!--top-->
                <div class="text">Then something crazy...! </div><!--text-->
             </div><!--updatecontent-->
        </li>
     </ul>
</div><!--photodetails-->

<div class="news_commentform">
	<form action="" method="post">
    	<div class="comment_authorimg"><img src="../../images/thumbs/avatar14.png" alt="" /></div>
        <div class="commentcontent" style="padding-right: 12px;">
        	<input type="text" name="" value="Type your comment and press enter to submit" onclick="this.value=''" />
		</div><!--updatecontent-->
    </form>
</div><!--commentform-->
<!-- Localized -->