<div class="contenttitle">
	<h4>All Posts</h4>
</div><!--contenttitle-->	
<table cellpadding="0" cellspacing="0" border="0" class="stdtable blogtable">
	<colgroup>
    	<col class="con0" />
        <col class="con1" />
        <col class="con0" />
        <col class="con1" />
        <col class="con0" />
        <col class="con1" />
    </colgroup>
    <thead>
    <tr>
    	<th width="20" class="head1 aligncenter"><input type="checkbox" name="checkall" class="checkall" /></th>
    	<th class="head0">Title</th>
        <th class="head1">Author</th>
        <th class="head0">Categories</th>
        <th class="head1"></th>
    </tr>
    </thead>
    <tfoot>
    	<tr>
        	<th class="head1 aligncenter"><input type="checkbox" name="checkall" class="checkall2" /></th>
        	<th class="head0">Title</th>
            <th class="head1">Author</th>
            <th class="head0">Categories</th>
            <th class="head1"></th>
        </tr>
    </tfoot>
    <tbody>
    	<tr>
        	<td class="aligncenter"><input type="checkbox" name="" /></td>
        	<td class="con0"><a href="viewblog.html" class="title">Learn jQuery in 3 Days</a></td>
            <td class="con1">themepixels</td>
            <td class="con0">History</td>
            <td class="actions aligncenter">
            	<a href="editblog.html">Edit</a> <a href="ajax/blog/quickedit.html" class="quickview">Quick Edit</a> <a href="">View</a> <a href="" class="delete">Delete</a>
            </td>
        </tr>
        <tr>
        	<td class="aligncenter"><input type="checkbox" name="" /></td>
        	<td class="con0"><a href="viewblog.html" class="title">Turn On HTML5 In IE8 or Lower</a></td>
            <td class="con1">themepixels</td>
            <td class="con0">History</td>
            <td class="actions aligncenter">
            	<a href="editblog.html">Edit</a> <a href="ajax/blog/quickedit.html" class="quickview">Quick Edit</a> <a href="">View</a> <a href="" class="delete">Delete</a>
            </td>
        </tr><tr>
        	<td class="aligncenter"><input type="checkbox" name="" /></td>
        	<td class="con0"><a href="viewblog.html" class="title">How to Make a Website Responsive</a></td>
            <td class="con1">themepixels</td>
            <td class="con0">History</td>
            <td class="actions aligncenter">
            	<a href="editblog.html">Edit</a> <a href="ajax/blog/quickedit.html" class="quickview">Quick Edit</a> <a href="">View</a> <a href="" class="delete">Delete</a>
            </td>
        </tr><tr>
        	<td class="aligncenter"><input type="checkbox" name="" /></td>
        	<td class="con0"><a href="viewblog.html" class="title">How to Create HTML5 Video for Your Website</a></td>
            <td class="con1">themepixels</td>
            <td class="con0">History</td>
            <td class="actions aligncenter">
            	<a href="editblog.html">Edit</a> <a href="ajax/blog/quickedit.html" class="quickview">Quick Edit</a> <a href="">View</a> <a href="" class="delete">Delete</a>
            </td>
        </tr><tr>
        	<td class="aligncenter"><input type="checkbox" name="" /></td>
        	<td class="con0"><a href="viewblog.html" class="title">Getting To Know HTML5 Placeholder</a></td>
            <td class="con1">themepixels</td>
            <td class="con0">History</td>
            <td class="actions aligncenter">
            	<a href="editblog.html">Edit</a> <a href="ajax/blog/quickedit.html" class="quickview">Quick Edit</a> <a href="">View</a> <a href="" class="delete">Delete</a>
            </td>
        </tr>
	</tbody>
</table>
<!-- Localized -->