.tb_no{
	width: 50px !important;
}

.tb_aksi1{
	width: 70px !important;
}
.tb_aksi2{
	width: 100px !important;
}
.tb_aksi3{
	width: 150px !important;
}
.tb_aksi1 , .tb_aksi2 , .tb_aksi3{
	text-align: center !important;
}

#bigsearch .dataTables_filter{display: none !important;}
img.thumb_table{
	width: 100px;
	height: 100px;
	float: left;
	margin: 4px 10px;
}
table.info{
	width: auto;
}
table.info tr td{
	padding: 5px;
	margin: 10px;
}
.fl_left{
	float: left;
}
a.onhover{
	opacity: 0;
	float: right;
}
table tr:hover td a.onhover{
	opacity: 1;
}
p.inline_form{
	margin: 5px 0px 0px;
}
p.inline_form input{
	margin-bottom: 0px;
}
textarea{
	resize: none;
}
.pilih.active a, .pilih.active a:hover{
	text-decoration: none;
	background-color: #eeeeee;
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
	color: #fb9338;
}
#detail_rekmed{
	margin-left: 90px;
}
#list_rekmed{
	position: absolute;
}
#rekmed_tabbable{
	position: relative;
	overflow: auto;
}
table#rekmed table td{
	border:none;
	border-bottom: 1px dashed #dddddd;
}
.td_container{
	position: relative;
}
.ringk-edit{
	position: absolute;
	top: 0px;
	right: 0px;
}
.tx_small{
	margin-bottom: 0px !important;
	padding: 2px 4px!important;
	width: 75px;
}
.text-right{
	text-align: right !important;
}
.text-center{
	text-align: center !important;
}
#loader{
	position: fixed;
	top: 0px;
	left: 50%;
	z-index: 999999;
	background: black;
	padding: 5px 10px;
	margin-left: -40px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	opacity: 0.3;
	display: none;
	font-weight: bold;
	color: rgba(255,255,255,0.7);
}
.sl_role{
	width: 150px;
}
.money{
	text-align: right !important;
}
#list_rekmed li{
	border-bottom:1px solid #DDD;
}
#list_rekmed li a{
	margin-bottom:0px;
}
b.group_date{
	background: #A0A0A0;
	padding: 5px 10px;
	border-radius: 0px 7px 7px 0px;
	-webkit-border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	color: white;
	margin-left: -9px;
}
#loading-block{
	position: fixed;
	background: rgba(0,0,0,0.5);
	text-align: center;
	font-size: 40px;
	line-height: 400px;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	z-index: 99999;
	color: white;
}
.head-tgl td{
	background: #B9B9B9 !important;
	font-weight: bold;
	font-size: 14px;
}